<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="width: 60%;border-collapse:separate; border-spacing:0px 15px;margin:auto;">
    <tr>
        <th class = "column1"><a th:text="${timestamp}"></a></th>
        <th class = "column2"><a th:text="${status}"></a></th>
        <th class = "column3"><a th:text="${error}"></a></th>
        <th class = "column4"><a th:text="${message}"></a></th>
    </tr>
</table>
</body>
</html>